<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.nginx.nginx</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/Cellar/nginx/{{nginx_version}}/sbin/nginx</string>
        <string>-g</string>
        <string>daemon off;</string>
        <string>-c</string>
        <string>{{rootdir}}/conf/nginx.conf</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{rootdir}}/html</string>
  </dict>
</plist>
