<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>{{clipid}}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Chris Koenig" />
</head>

<body>

  <!-- Include jQuery from Media Temple's jQuery CDN -->
  <script src="http://code.jquery.com/jquery-1.6.4.js"></script>

  <!-- Grab SoundManager2 for the initial visualization -->
  <script src="/soundmanager2.js"></script>

  <script src="/waveform.js"></script>
  <center><div id="waveform"></div></center>

  <script type="text/javascript" charset="utf-8">
      "use strict";

      soundManager.url = "/";
      soundManager.onready(function () {
          // This clip id, which identifies the audio clip, is something we
          // drop in via template upon serving the page.
          var clip_id = "{{clipid}}";

          clip = soundManager.createSound({
              id: "clip",
              url: "/clip/" + clip_id,
              whileLoading: function () { console.log("loading!"); }
          });

          var clip_info = $.getJSON("/clip/" + clip_id + "/info")
          .success(function (result) { console.log("info success!"); console.log(result); })
          .error(function (xhr, err) { console.log("error getting info: " + err); })
          .complete(function () { console.log("info complete!"); });
      });
  </script>
</body>

</html>
