<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>{{clipid}}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Chris Koenig" />
</head>

<body>

  <!-- Include jQuery from Media Temple's jQuery CDN -->
  <script src="/jquery.js"></script>

  <!-- Grab SoundManager2 for managing the audio -->
  <script src="/soundmanager2.js"></script>

  <!-- And grab Raphael for the waveform visualization -->
  <script src="/raphael.js"></script>

  <script src="/waveform.js"></script>
  <center><div id="waveform"></div></center>

  <script type="text/javascript" charset="utf-8">
      "use strict";

      soundManager.consoleOnly = true;
      soundManager.debugMode = false;
      soundManager.url = "/";
      soundManager.useFastPolling = true;
      soundManager.useHighPerformance = true;

      soundManager.onready(function () {
          // This clip id, which identifies the audio clip, is something we
          // drop in via template upon serving the page.
          var clip_id = "{{clipid}}";

          var clip = soundManager.createSound({
              id: "clip",
              url: "/clip/" + clip_id + ".wav",
              autoLoad: true,
              whileplaying: function () {
                  // Trigger our custom event, which we'll handle later on:
                  $("#waveform").trigger("update_play_marker",
                                         [ this.position, this.duration ]);
              }
          });

          var clip_data = $.getJSON("/clip/" + clip_id + "/data")
          .error(function (xhr, err) { console.log("error getting data: " + err); })
          .success(function (clip_data, stat, xhr) {
              // Store this data array as a property of the SoundManager clip:
              clip.data = clip_data;

              var waveform = new Waveform(clip);
              waveform.width = 1000;
              waveform.height = 400;

              waveform.render("waveform");

              $("#waveform").on("update_play_marker", function (e, pos, dur) {
                  waveform.update_play_marker(pos, dur);
              });
          });

          // Capture the space bar to toggle play/pause.
          $("body").keypress(function (e) {
              // Different browsers do different things:
              var key = e.which || e.keyCode || e.keyChar;
              if (key == 32)
                  clip.togglePause();
          });
      });
  </script>
</body>

</html>
