<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>{{clipid}}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Chris Koenig" />

  <!-- From the SoundManager2 page-player demo page -->
  <style type="text/css">
      body {
           font:75% normal verdana,arial,tahoma,"sans serif";
       }
   </style>

  <!-- The CSS for the SoundManager2 page-player -->
  <link rel="stylesheet" type="text/css" href="/css/page-player.css" />
</head>

<body>

  <!-- Grab SoundManager2 for managing the audio -->
  <script src="/soundmanager2.js"></script>

  <div id = "cliplist"></div>

  <ul class="playlist dark">
  {{#clips}}
      <li><a href="clip/{{basename}}">{{basename}}</a><!--&nbsp;<a href="clip/{{basename}}/info">(info)</a>--></li>
  {{/clips}}
  </ul>

  <script type="text/javascript" charset="utf-8">
      soundManager.consoleOnly = true;
      soundManager.debugMode = false;
      soundManager.url = "/";

      var PP_CONFIG = {
          autoStart: false,
          playNext: false
      };
  </script>

</body>

</html>
