* {
    /* border:1px solid red !important; */

    /* See http://paulirish.com/2012/box-sizing-border-box-ftw */
    -webkit-box-sizing:border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing:border-box;    /* Firefox, other Gecko */
    box-sizing:border-box;         /* Opera/IE 8+ */
}

html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
    font:100% normal verdana,arial,tahoma,"sans serif";
}

#spectrogram {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    visibility:visible;
    padding:20px 20px 20px 20px;
}

#waveform {
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    height:100%;
    width:100%;
    opacity:0.15;
    -moz-opacity:0.15;
    filter:alpha(opacity=15);
    visibility:visible;
    padding:20px 20px 20px 20px;
}
