* {
    /* border:1px solid red !important; */

    /* See http://paulirish.com/2012/box-sizing-border-box-ftw */
    -webkit-box-sizing:border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing:border-box;    /* Firefox, other Gecko */
    box-sizing:border-box;         /* Opera/IE 8+ */
}

html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
    font:100% normal "verdana","arial","tahoma","sans serif";
}

#clipvis {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    visibility:visible;
    /*padding:20px 20px 20px 20px;*/
}

#spectrogram {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    visibility:visible;
    /*padding:20px 20px 20px 20px;*/

    z-index:1;  /* Behind. */
}

#clipsvg {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    visibility:visible;
    /*padding:20px 20px 20px 20px;*/

    z-index:10;
}

#waveform {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    /*shape-rendering: crispEdges;*/

    visibility:visible;
    z-index:15;
    /* opacity:0.15;
    -moz-opacity:0.15;
    filter:alpha(opacity=15); */
}

#selection {
    stroke: #F00;
    fill: #F00;
    opacity: 0.2;
    z-index:20;
}

#playmarker {
    stroke: #F00;
    stroke-width: 2;
    z-index:25;
}

.segment {
    fill: #222;
    stroke: #777;
    stroke-width: 2;
    z-index:25;
}

.label {
    fill: white;
    font-family: Verdana;
    font-size: 12;
    z-index:26;
}
