<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Chris Koenig" />

        <!--<title>accidence</title>-->

        <!-- CSS -->
   <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" /> -->
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>

    <body>
        <div class="container" id="header">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li class="active">
                                <a href="javascript:window.app.navigate('#', { trigger: true })">Clips</a>
                            </li>
                            <li class="active">
                                <a href="javascript:window.app.navigate('#record', { trigger: true })">Record New Clip</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="main"></div>

        <div class="container" id="footer"></div>
    </body>

    <script src="/js/LAB.js"></script>
    <script>
        $LAB
        // Third-party scripts:
        .script("/js/jquery.js")
        .script("/js/jquery-ui.js")
        .script("/js/underscore.js").wait()
        .script("/js/recorder.js")
        .script("/js/soundmanager2-nodebug-jsmin.js")
        .script("/js/d3.js")
      //.script("/socket.io/socket.io.js")
        .script("/js/backbone.js")
        .script("/js/bootstrap.js")
        .wait(function () {
            // Handle all our SoundManager2 settings:
            soundManager.consoleOnly = true;
            soundManager.debugMode = false;
            soundManager.url = "/swf/";
            soundManager.useFastPolling = true;
            soundManager.useHighPerformance = true;
        }).wait()
        // My own scripts:
        .script("/js/app.js")
        .script("/js/clipaudio.js")
        .script("/js/editpane.js")
        .script("/js/playmarker.js")
        .script("/js/record.js")
        .script("/js/segments.js")
        .script("/js/selection.js")
        .script("/js/waveform.js")
        .wait(function () {
            $(document).ready(function () {
                window.app = new AudioAnnotator();
                Backbone.history.start();
            });
        });
    </script>

    <!-- Templates -->
    <script type="text/template" id="clipview-template">
        <div id="clipvis">
            <img id="spectrogram" src="clips/<%= id %>/spectrogram"></img>
            <svg id="clipsvg"></svg>
            <div id="edit-pane"></div>
        </div>
    </script>

    <!-- The list of clips. -->
    <script type="text/template" id="cliplist-template">
        <div id="cliplist-container">
            <ul id="cliplist"></ul>
        </div>
    </script>

    <!-- The interface for recording and uploading new clips. -->
    <script type="text/template" id="record-upload-template">
        <div id="recorder-container"></div>
        <div id="record-form" class="well">
            <span id="recorder-time">0:00:000</span>
            <button id="record-button" class="btn btn-large"><i class="icon-headphones"></i>&nbsp;Start Recording</button>
            <button id="stop-button" class="btn btn-large"><i class="icon-stop"></i>&nbsp;Stop</button>
            <button id="play-button" class="btn btn-large"><i class="icon-play"></i>&nbsp;Play</button>
            <button id="upload-button" class="btn btn-large"><i class="icon-upload-alt"></i>&nbsp;Upload</button>
        </div>
    </script>

    <!-- A single item in the list of clips. -->
    <script type="text/template" id="clipitem-template">
        <div class="clipdisplay">
            <a href="#clips/<%= clip.id %>"><i class="icon-headphones"></i></a>
            <%= clip.get("name") || clip.id %>
        </div>
        <div class="clipedit">
            <input class="clipinput" type="text" value=""></input>
        </div>
    </script>

    <!-- The floating edit pane, to alter segments. -->
    <script type="text/template" id="segment-edit-pane">
        <!-- These classes depend on the Twitter Bootstrap tooltip component. -->
        <div class="tooltip fade bottom in">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">
                <input class="input-label input-small" type="text" placeholder="Label" value="<%= label %>"></input>
                <input type="button" class="delete-segment btn btn-mini btn-danger" value="Delete">
                <input type="button" class="submit-segment btn btn-mini btn-primary" value="Submit">
            </div>
        </div>
    </script>

</html>
