<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Chris Koenig" />

        <title>languishes</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/languishes.css" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />

    <body>
        <div id="container">
            <div id="header">
            </div>

            <div id="main">
            </div>

            <div id="footer">
            </div>
        </div>

        <script src="/js/LAB.js"></script>
        <script>
            $LAB
            // Third-party scripts:
            .script("/js/jquery.js")
            .script("/js/underscore.js").wait()
            .script("/js/soundmanager2-nodebug-jsmin.js")
            .script("/js/d3.js")
          //.script("/socket.io/socket.io.js")
            .script("/js/backbone.js")
            .wait(function () {
                // Handle all our SoundManager2 settings:
                soundManager.consoleOnly = true;
                soundManager.debugMode = false;
                soundManager.url = "/swf/";
                soundManager.useFastPolling = true;
                soundManager.useHighPerformance = true;
            }).wait()
            // My own scripts:
            .script("/js/app.js")
            .script("/js/clipaudio.js")
            .script("/js/playmarker.js")
            .script("/js/segments.js")
            .script("/js/selection.js")
            .script("/js/waveform.js")
            .wait(function () {
                $(document).ready(function () {
                    window.app = new Languishes();
                    Backbone.history.start();
                });
            });
        </script>

        <!-- Templates -->
        <script type="text/template" id="clipview-template">
            <center>
                <div id="clipvis">
                    <img id="spectrogram" src="clips/<%= id %>/spectrogram"></img>
                    <svg id="clipsvg"></svg>
                    <div id="editpane"></div>
                </div>
            </center>
        </script>

        <!-- The list of clips. -->
        <script type="text/template" id="cliplist-template">
            <div id="cliplist-container">
                <ul id="cliplist"></ul>
            </div>
        </script>

        <!-- A single item in the list of clips. -->
        <script type="text/template" id="clipitem-template">
            <div class="clipdisplay">
                <a href="#clips/<%= clip.id %>">
                    <i class="icon-headphones"></i>
                </a>
                <label class="clipname">
                    <%= clip.get("name") || clip.id %>
                </label>
            </div>
            <div class="clipedit">
                <input class="clipinput" type="text" value=""></input>
            </div>
        </script>

        <script type="text/template" id="annotation-template">
            <form action="http://www.mturk.com/mturk/externalSubmit" method="POST">
                <input type="hidden" name="assignmentId">
                <input type="hidden" name="hitId">

                <input type="hidden" name="start">
                <input type="hidden" name="end">
            </form>
        </script>

    </body>
</html>
